

  /* Styles for alert research box */
  .alert-research-box{
      display: flex;
      flex-direction: column;
      gap:30px;
      font-family: Outfit;
  }

  .alert-research-box h2{
    margin-bottom: auto;
    font-family: Inter;
    
  }

  .alert-research-box .btns{
    margin-top: auto;
    display: flex;
   justify-content: space-between;
   align-content: flex-end;
   justify-self: flex-end;
   align-self: flex-end;
   gap: 20px;
  }

  .alert-research-box .btns button{
    border: 1px solid #8E5DF5;
    color:#000;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 20px;
    transition: all 0.5s;
  }
  .alert-research-box .btns button:hover{
    color: rgba(255, 255, 255, 1);
    background-color: #8E5DF5;

  }

  /* styles for remove deadline */
.deadline-box{
  display: flex;
  flex-direction: row;
  gap:30px;
  align-items: center;
}

.deadline-box button {
  background-color: rgb(222, 45, 45);
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.5s;
}

.deadline-box button:hover{
  opacity: 0.8;
}
  /* styles for calendar */
  /* date value */
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
visibility: hidden !important;
}

/* border of the calendar */
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border: 0px !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
  width: 0 !important;
}
.css-i4bv87-MuiSvgIcon-root:hover{
  z-index: -1;
  background-color: #e5d5d5 !important;
}
/* styles for the calendar svg */
.css-i4bv87-MuiSvgIcon-root{
  padding: 5px 0 0 150px !important;
  /* width: 12rem !important; */
  
}
 

@media screen and (max-width:731px) {
  .deadline-box{
   
    flex-direction:column;
    
  }
  
}