.chatbot-container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: auto;
    height: 90dvh;
}

.chatbot-content, .chat-bot-initial {
    height: 80dvh;
    overflow-y: visible !important;

    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; /* Enables smooth scrolling on iOS */
}

html, body {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}

.custom-chatbot-button {
    display: flex;
    justify-content: center;
    border-radius: 50px 50px 50px 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.custom-chatbot-button.hidden {
    display: none;
}

.rsc-header {
    background: linear-gradient(180deg, #BD52E0 0%, #A458EC 100%) !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.MgVel,
.dGoLZS {
    background: #BA53E1 !important;
}

.rsc-ts-bubble {
    font-size: Outfit !important;
}

.rsc-footer {
    padding: 0 10px 10px 10px;
    position: relative;
}

.kfuOdq {
    font-family: Outfit !important;
    background: #ECE4E4;
    box-shadow: 0px 3px 3px 0px #00000040;
}

.iyQAxU {
    color: #BA53E1 !important;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.rsc-submit-button img {
    display: inline;
}

.loading-spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #ffffff;
    animation: spin 1s ease-in-out infinite;
}


.chat-bot-initial {

    
    flex-direction: column;
    justify-content: flex-start; 
    max-height: 80dvh; 
    width: 90%;

    max-width: 350px;
    z-index: 50;
    padding: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto; 
}

.chatbot-content, .chat-bot-initial {
    overflow-y: auto; 
    overflow-x: hidden;
}


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.chatbot {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

@media screen and (max-width: 700px) {
    .chatbot-container {
        max-width: 100%;
        max-height: 100dvh;
        bottom: 0;
        right: 0;
    }

    html {
        -ms-overflow-style: none; 
        scrollbar-width: none; 
        max-width: 100% !important;
        overflow: hidden !important;
        overflow-y: auto !important;
    }
    html::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}

.chat-message {
    margin: 5px 10px;
    padding: 8px 12px;
    border-radius: 10px;
}

.chat-message.bot {
    background-color: #e1ffc7; /* Light green for bot messages */
    align-self: flex-start;
}

.chat-message.user {
    background-color: #cce5ff; 
    align-self: flex-end;
}
