/* Customize the label (the container) */
.containerBox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

/* Hide the browser's default checkbox */
.containerBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    /* Replace the background with your PNG icon */
    background-image: url('/Qwesty/src/assets/ben/check.png');
    background-size: cover; /* Adjust as needed */
}

/* On mouse-over, add a grey background color */
.containerBox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerBox input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    /* Customize the checkmark shape if desired */
}

/* Show the checkmark when checked */
.containerBox input:checked ~ .checkmark:after {
    display: block;
    /* Customize the checkmark shape if desired */
}
